.post-intro {
  margin-top: 10rem;
  @include respond(phone) {
    margin-top: 5rem;
  }
  a {
    text-decoration: none;
  }
  hr {
    border-top: 1px solid #e03616;
  }
  &__header {
    display: flex;
    align-items: center;
  }
  &__title {
    flex-grow: 1;
    padding-right: 5rem;
    h2 {
      color: #e03616;
      text-decoration: none;
      font-weight: 400;
      font-size: 3.5rem;
      display: flex;
      @include respond(phone) {
        font-size: 3rem;
      }
    }
  }

  &__catid {
    white-space: nowrap;
  }
  &__level-button {
    font-size: 2.2rem;
    color: #fff;
    padding: 0.2rem 0.8rem;
    font-family: "Amiri";
    transform: translateX(-30%) translateY(-50%) rotate(370deg);
    line-height: 1.5;
    font-weight: 600;
    cursor: auto;
    align-self: flex-start;
  }
  &__level-button--easy {
    background-color: green;
  }
  &__level-button--easy::before {
    content: "EASY";
  }
  &__level-button--medium {
    background-color: blue;
  }
  &__level-button--medium::before {
    content: "MEDIUM";
  }
  &__level-button--hard {
    background-color: #ff5b00;
  }
  &__level-button--hard::before {
    content: "HARD";
  }
  &__level-button--master {
    background-color: red;
  }
  &__level-button--master::before {
    content: "MASTER";
  }
  &__level-button--none {
    display: none;
  }
  &__dsc {
    display: flex;
    margin: 2rem 0;
    &__paragraph {
      margin-left: 4rem;
    }
  }
  &__date {
    font-size: 2.2rem;
    display: inline-block;
    color: #e03616;
    border: 1px solid;
    padding: 0.5rem;
    white-space: nowrap;
    @include respond(phone) {
      display: none !important;
    }
  }
  &__img {
    flex-shrink: 0;
    @include respond(phone) {
      display: none;
    }
  }
  &__paragraph {
    margin-left: 4rem;
  }
  &__more {
    position: relative;
    transition: all 0.5s;
    text-transform: uppercase;
    font-size: 1.5rem;
    display: inline-block;
    padding: 0.8rem;
    margin-top: 2rem;
    // color: #e03616;
    span {
      position: relative;
      z-index: 2;
      color: #fff;
    }
  }
  &__more::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: rgba(224, 54, 22, 1);
    transition: all 0.3s;
  }
  &__more:hover::before {
    opacity: 0;
    transform: scale(0.5, 0.5);
  }
  &__more::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0;
    transition: all 0.3s;
    border: 1px solid rgba(224, 54, 22, 1);
    transform: scale(1.2, 1.2);
  }
  &__more:hover::after {
    opacity: 1;
    transform: scale(1, 1);
  }
  &__more:hover span {
    color: #e03616;
  }
}
